version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: Sofikul@45
      MYSQL_DATABASE: ipl
    ports:
      - "3306:3306"

  app:
    build: .
    container_name: ipl-app
    ports:
      - "8080:8080"
    depends_on:
      - mysql
